<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data received</title>

    <style>
        .center {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
    }
    </style>

</head>
<body>
  <div class="center">You are welcome onboard {{data}}</div>

</body>
</html>

<!--    <script>-->
<!--        var password = document.getElementById("password")-->
<!--          , confirm_password = document.getElementById("confirm_password");-->

<!--        function validatePassword(){-->
<!--          if(password.value != confirm_password.value) {-->
<!--            confirm_password.setCustomValidity("Passwords Don't Match");-->
<!--          } else {-->
<!--            confirm_password.setCustomValidity('');-->
<!--          }-->
<!--        }-->

<!--        password.onchange = validatePassword;-->
<!--        confirm_password.onkeyup = validatePassword;-->
<!--    </script>-->
